<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOStZSSfLp_yMyvJyurOjsR4qLZ1V67cE</string>
	<key>GCM_SENDER_ID</key>
	<string>944662989828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pTracking.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tracking-56023</string>
	<key>STORAGE_BUCKET</key>
	<string>tracking-56023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944662989828:ios:c552880925d468d8d0f951</string>
</dict>
</plist>